/*CSS para o exercicio tutstown*/

/*html, body {
	height: 100%;
}*/

/*footer {
	position: sticky;
} */

body {

	width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: center; 
	align-content: center;
	align-items: center;
	background-color: beige;

}

h1{
	color: rgb(32, 93, 118);
	font-weight: lighter;
	font-size: 60px;
	

}

.town-header{
	
	width: 500px;
	margin-top: 5px;
	margin-bottom: 15px;

}

footer {
	text-align: center; 
	font-family: sans-serif;
	color: white;
	background-color: rgb(255, 193, 34); 
	padding: 3px;
	margin: 30px;
	position: relative;
}

.icon1{
	
	
	width: 110px;
	margin-right: 10px;
	margin-left: 360px;
	
}

.container{
	/*border-style: dotted;*/
	/*margin-left: auto;
	margin-right: auto;*/
	margin-bottom: 10px;
	margin-top: 10px;

	display: flex;
	
	flex-direction: row;
	align-items: center;
	align-content: center;
	text-align: center;

}



.icon-name{
	/*border-style: solid;*/
	margin-left: 30px;
	font-family: serif;
	font-size: 20px;
	color: rgb(32, 93, 118);
	text-align: left;

	

}

.lista1{
	color: rgb(234, 110, 47);

}

.marcador-lista1{
	color: rgb(255, 193, 34);
	text-align: left;
	/*text-align: left;*/
	/*border-style: solid;*/
}

ul {

	/*float: left;*/
}
