/*CSS - Cascade Style Sheets (folha de estilos em cascata)*/



h1 {
	color: dimgray;
	font-family: sans-serif ;
	font-size:40pt;
	font-weight: 1000;
	background-color: bisque;
	padding: 30px;


}


h2 